body {
    background-color: #01629b;
    text-align: left;
    color: white;
}

.logo_header {
    width: 250px;
    margin-left: auto;
    margin-right: auto;
}

.box {
    margin-top: auto;
    margin-left: 35%;
    margin-right: 35%;
    display: flex;
    align-content: center;
    justify-content: center;
    text-align: center;
}

fieldset {
    border-radius: 10px;
    border-width: 4px;
}
.btncad{
    color: #01629b;
    background-color: #025686;
}
.btncadprod{
    color: #01629b;
    background-color: #025686;
}